/* ***************Variables*************** */
:root {
	/* variables */
	--color-first: #eb9e73;
	--color-first_alpha: rgba(235, 158, 115, 0.75);
	--color-second: #d19a88;
	--color-second_alpha: rgba(209, 154, 136, 0.75);
	--font: "Raleway", sans-serif;
	--max-width: 1200px;
	--max-width-content: 680px;
	--card-icon-max-width: 5rem;
	--margin-small-section: 2rem 1rem;
	--margin-lg-section: 4rem 2rem;
	--margin-article-vertical: 2rem auto;
	/* variables reutilisables??? */
	--header-height: 4rem;
	--header-child-height: 2rem;
	/* fijas */
	--color-white: #ffffff;
	--color-grey_light: #f3f3f3;
	--color-grey: #cccccc;
	--color-grey_dark: #666666;
	--color-black: #000000;
	--color-link: #509ee3;
	--color-text: #222222;
	--color-title: #333333;
	--color-white_alpha: rgba(255, 255, 255, 0.5);
	--color-black_alpha: rgba(0, 0, 0, 0.5);
	--bg-opacity_dark: var(--color-black_alpha);
	--bg-opacity_light: var(--color-white_alpha);
	/* Unicas */
	--hero-image-pizza: url(assets/pizza_hero_image.jpg);
	--receta-img: url(assets/unsplash_receta.png);
	--font-elegante: "Bree Serif", var(--font);
}
/* ***************Reset*************** */
html {
	scroll-behavior: smooth;
	font-size: 16px; /* esto sobreescribe los tamaños asignados a los encabezados */
	font-family: var(--font);
	color: var(--color-text);
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	overflow-x: hidden;
}
a {
	color: var(--color-link);
	/* transition: all 0.5s ease-out; */
}
/* a:hover {
	opacity: 75%;
} */
p {
	line-height: 1.6;
}
img {
	max-width: 100%;
}
h1 {
	margin: 0;
	font-size: 2rem;
}
h2 {
	margin: 0;
	font-size: 1.5rem;
}
h3 {
	margin: 0;
	font-size: 1.25rem;
}
h4 {
	margin: 0;
	font-size: 1rem;
}
h5 {
	margin: 0;
	font-size: 0.85rem;
}
h6 {
	margin: 0;
	font-size: 0.7rem;
}

/* ***************Componentes*************** */

/* ----------------------Hero-image---------------------- */
.hero-image {
	background-image: var(--hero-image-pizza);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.hero-image-opacity {
	width: 100%;
	min-height: 100%;
	background-color: var(--bg-opacity_dark);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	color: var(--color-white);
	text-align: center;
}
.hero-image-opacity h1 {
	font-size: 7.5vw;
}
/* -------------------------NAV------------------------- */
.nav {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 990;
	height: var(--header-height);
	width: 100%;
	padding: 0 1rem;
	background-color: var(--color-second);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav > * {
	height: var(--header-child-height);
}
.nav svg {
	height: var(--header-child-height);
}
.menu {
	position: fixed;
	right: 0;
	top: 0;
	width: min(50%, 250px);
	height: calc(100vh - var(--header-height));
	display: flex;
	justify-content: space-between;
	flex-flow: column;
	text-align: center;
	transition: transform 0.5s;
	z-index: 991;
	transform: translateX(100%);
}
.menu a {
	text-decoration: none;
	color: var(--color-black);
	background-color: var(--color-second_alpha);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
}
.menu a:hover {
	opacity: 100%;
	color: var(--color-white);
	background-color: var(--color-first_alpha);
}
.user {
	background-color: var(--color-second) !important;
	/* margin-bottom: 2rem; */
}
.menu-bg {
	opacity: 0;
	top: 0;
	left: 0;
	height: calc(100vh - var(--header-height));
	width: 100vw;
	position: fixed;
	transition: opacity 0.5s;
	background-color: var(--bg-opacity_dark);
	z-index: 900;
	pointer-events: none;
}
.menu.isActive {
	transform: translateX(0);
}
.menu-bg.isActive {
	opacity: 1;
	pointer-events: initial;
}
.user-lg {
	display: none !important;
}
@media screen and (min-width: 1024px) {
	/* cuidado porque el padding del nav no me permite tener toda la seccion con el hover del a */
	.menu {
		position: static;
		transform: none;
		flex-flow: row;
		width: 100%;
		margin: auto 0;
		height: 100%;
		justify-content: flex-end;
		align-items: center;
	}
	.menu a {
		padding: 0 0.5rem;
		width: auto;
		font-size: 0.8rem;
		height: 100%;
		display: flex;
		align-items: center;
	}
	.menu .user {
		display: none;
	}
	.user-lg {
		display: flex !important;
	}
}
/* -----------------------Search----------------------- */
#search h3 {
	text-align: center;
}
.search-icon {
	width: 4rem;
	height: 4rem;
	background-color: var(--color-first);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: -4px;
}
.search-icon svg {
	width: 2.5rem;
}
.search-input {
	position: relative;
	display: flex;
	height: 4rem;
	align-items: center;
}
.search-input input {
	width: 100%;
	background-color: var(--color-second);
	height: 2rem;
	font-size: 1rem;
	padding-left: 4rem;
	border-radius: 0 15px 15px 0;
}
/* -----------------------Receta----------------------- */
.receta {
	height: calc(100vh - var(--header-height));
	background-image: var(--receta-img);
	background-size: cover;
	background-position: 50%;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding-top: 1rem;
}
.receta-filter {
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(194, 133, 98, 0.75) 10%, #fff0 30%);
	height: 100%;
	width: 100%;
	pointer-events: none;
}
.receta h3 {
	color: white;
	font-family: var(--font-elegante);
	z-index: 1;
}
.receta h3.isActive {
	visibility: hidden;
}
.receta-btns {
	display: flex;
	justify-content: space-around;
	height: 4rem;
	width: 100%;
	align-items: center;
}
.receta-btns a {
	background-color: var(--color-second_alpha);
	color: var(--color-black);
	text-decoration: none;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.receta-btns a:hover {
	color: white;
	background-color: var(--color-first_alpha);
	font-weight: bold;
}
.receta-btns a.isActive {
	color: white;
	background-color: var(--color-first_alpha);
	font-weight: bold;
}
#descripcion,
#ingredientes {
	position: absolute;
	display: none;
	height: calc(100% - var(--header-height));
	width: 100%;
	top: 0;
	left: 0;
	padding: 1rem;
	/* background-color: var(--color-first_alpha); */
	background-image: linear-gradient(var(--color-first_alpha) 100%, white 0%);
}
#descripcion:target,
#ingredientes:target {
	display: flex;
	flex-direction: column;
}

/* Ingredientes----- */

/* https://www.foolishdeveloper.com/2022/01/5-star-rating-html-css.html#:~:text=1%201.%20HTML%20code%20of%20Star%20Rating%20I,2%202.%20CSS%20code%20of%205%20Star%20Rating */
.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-self: flex-end;
}
.rating > input {
	display: none;
}
.rating > label {
	position: relative;
	width: 1.1em;
	font-size: 3rem;
	color: #ffd700;
	cursor: pointer;
}
.rating > label::before {
	content: "\2605";
	position: absolute;
	opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
	opacity: 1 !important;
}
.rating > input:checked ~ label:before {
	opacity: 1;
}
.rating:hover > input:checked ~ label:before {
	opacity: 0.4;
}
/* -- Hasta acá  */
/* !Arreglar estoo */
.rating {
	height: 3.2rem;
	align-items: center;
}
/* ***************Utilidades*************** */
.box-shadow-in {
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.none {
	display: none;
}
.conteiner {
	margin: 0 auto;
	text-align: center;
	max-width: var(--max-width);
}

.section-margins {
	padding: var(--margin-small-section) 0;
}
.section-margins > * {
	margin: var(--margin-article-vertical);
}
.section-margins > :first-child {
	margin-top: 0;
}
.section-margins > :last-child {
	margin-bottom: 0;
}
.w-100 {
	width: 100%;
}
.m-0 {
	margin: 0;
}
.title-lines {
	border-top: medium solid var(--color-first);
	border-bottom: medium solid var(--color-first);
	width: 300px;
	padding: 0.5rem 1rem;
	margin-left: auto;
	margin-right: auto;
}
.first-color {
	color: var(--color-first);
}
.avatar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.btn {
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: var(--color-first);
	display: inline-block;
	width: 200px;
	text-align: center;
	color: var(--color-white);
	text-decoration: none;
	font-weight: bold;
}
.btn:hover {
	opacity: 0.7;
}
.no-select {
	user-select: none;
}
.card-icon {
	max-width: var(--card-icon-max-width);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card-icon img {
	min-width: 5rem;
}
.icons-conteiner {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, auto);
	text-align: center;
	justify-items: center;
}
.title-h1 {
	color: var(--color-title);
	font-size: 2rem;
}
@media screen and (min-width: 768px) {
	.max-width-content-medium {
		max-width: var(--max-width-content);
		margin: 0 auto;
	}
}
@media screen and (min-width: 1024px) {
	.text-lg-right {
		/* tipo bootrtrap */
		text-align: right;
		align-items: flex-end;
	}
	.text-lg-left {
		text-align: left;
		align-items: flex-start;
	}
	.text-lg-center {
		text-align: center;
		align-items: center;
	}
	.fullscreen-lg {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 0 auto;
	}
	.col-lg-3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.section-margins {
		padding: var(--margin-lg-section) 0;
	}
	.none-lg {
		display: none;
	}
}
