h1{
  text-align: center;
  color: steelblue;
  /* margin: 0 auto 0 auto; */
  background-color: coral;
  /* position: relative; */
  display: inline-block;
  width: 100vw;
  height: 100px;
}
*{
  margin: 0;
  scroll-behavior: smooth;
}
nav{
  position: absolute;
  background-color: goldenrod;
  top:100px;
}
