* {
	/* saco el margen */
	margin: 0;
}
.first-image {
	/* top: -100px; */
	height: 100vh;
	width: 100vw;
	background: url("../Imagenes/comida2.jpg") 100px -80px;
	background-attachment: fixed;
	background-attachment: scroll;
	background-size: cover;
}
.first-conteiner {
	position: sticky;
	top: 0;
	background-color: coral;
	top: 0;
} /* uso mucho minav, no se bien como administrarlo*/
/* no se como alinear todo sin que dejen espacios diferentes y no entiendo porque a la derecha hay un espacio */
.miNav > * {
	text-align: center;
	width: 105px;
	display: inline;
	/*   padding:  0 10vw;
  margin: 0 1.8vw; */

	border: 1px solid black;
}
.miNav > *:hover {
	background-color: brown;
	color: rgb(241, 241, 241);
}
.miNav a {
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 30%;
}
header.first-conteiner h1 {
	text-align: center;
}
.miNav > * {
	box-sizing: border-box;
	margin: 0 calc((99% - 30% * 3) / 6); /* VAMOOOOOOOOOO */
}
